<p>This is the partial for view 1.</p>

<form name="view1Form" novalidate ng-submit="vm.submit(view1Form.$valid)">
    <input type="text" ng-model="vm.model.name" required placeholder="name">
    <input ng-disabled="!view1Form.$valid" type="submit" value="save">
    <input type="submit" value="non disabling save">
</form>

<transcluder code="vm.model.name">
    <div>
        transcluded content -> external code: {{vm.code}}
    </div>
    <a href="#" ng-click="vm.onClick()">external controller method</a>
    <a href="#" ng-click="augmentation()">augmentation</a>
</transcluder>